.movies-list {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 70px;
}

.movies-list__container {
  margin: 80px 0 60px;
}

.movies-list__button {
  display: block;
  margin: 0 auto 80px;
  width: 320px;
  height: 36px;
  background-color: #2F2F2F;
  border-radius: 6px;
  color: #FFFFFF;
  cursor: pointer;
  transition: opacity 0.3s linear;
  border: 0;
}

.movies-list__button_hidden {
  visibility: hidden;
}

.movies-list__button:hover{
  opacity: 0.8;
}

.movies-list__not-found-text {
  visibility: hidden;
  margin: 0;
  text-align: center;
  font-size: 15px;
  color: #2be080;
}

.movies-list__not-found-text_visible {
  visibility: visible;
}

@media screen and (max-width: 768px) {
  .movies-list {
    padding: 0 30px;
  }

  .movies-list__container {
    margin: 70px 0 80px;
  }
}

@media screen and (max-width: 415px) {
  .movies-list {
    padding: 0 10px;
  }

  .movies-list__container {
    margin: 50px 0 70px;
  }

  .movies-list__button {
    width: 240px;
  }
}