.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

.profile__container {
  height: 100%;
  margin-top: 74px;
  max-width: 410px;
  display: flex;
  flex-direction: column;
}

.profile__title {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.profile__form {
  margin: 123px 0 0;
  display: flex;
  flex-direction: column;
}

.profile__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  padding-bottom: 16px;
}

.profile__label:not(:first-child) {
  margin-top: 17px;
}

.profile__label:first-child {
  border-bottom: 1px solid #424242;
}

.profile__input {
  padding: 0 0 10px;
  height: 27px;
  width: 350px;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  background-color: transparent;
  border: 0;
  color: #ffffff;
  outline: none;
  text-align: end;
}

.profile__input:invalid {
  color: #ee3465;
}

.profile__input-error {
  visibility: hidden;
  padding-top: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
  align-self: flex-end;
}

.profile__input-error_active {
  visibility: visible;
}

.profile__btn {
  display: inline;
  background-color: transparent;
  border: 0;
  border-radius: 3px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  transition: opacity 0.3s linear;
  cursor: pointer;
}

.profile__btn_edit {
  margin: 204px 0 16px;
}

.profile__btn_exit {
  color: #EE3465;
}

.profile__btn:hover {
  opacity: 0.7;
}

.profile__btn_disabled {
  color: grey;
  cursor: not-allowed;
}

@media screen and (max-width: 768px) {
  .profile__form {
    margin: 96px 0 0;
  }

  .profile__container {
    margin-top: 236px;
  }

  .profile__btn_edit {
    margin: 210px 0 16px;
  }
}

@media screen and (max-width: 450px) {
  .profile__container {
    max-width: 260px;
    margin-top: 53px;
  }

  .profile__input {
    width: 200px;
  }

  .profile__form {
    margin-top: 80px;
  }

  .profile__btn {
    position: fixed;
    font-size: 12px;
    line-height: 15px;
  }

  .profile__btn_edit {
    padding: 0;
    margin: 0;
    bottom: 71px;
    left: 36.5%;
  }

  .profile__btn_exit {
    padding: 0;
    margin: 0;
    bottom: 40px;
    left: 33.8%;
  }
}