.promo {
  background-color: #073042;
  box-sizing: border-box;
  color: white;
  margin-top: -74px;
  padding: 74px 5.47% 0;
  height: 598px;
}

.promo__container {
  background: url(../../images/pic__COLOR_landing-logo.svg) no-repeat left 50% top 80px;
  height: 100%;
  margin: 0 auto;
}

.promo__title {
  padding: 0;
  margin: 0 auto;
  padding-top: 184px;
  text-align: center;
  width: 730px;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 840px) {
  .promo__title {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .promo {
    height: 858px;
  }

  .promo__container {
    background-position-y: 224px;
  }

  .promo__title {
    padding-top: 326px;
  }
}

@media screen and (max-width: 600px) {
  .promo {
    height: 751px;
  }
  .promo__container {
    background-position-y: 120px;
    background-size: 284px;
  }

  .promo__title {
    font-size: 40px;
    line-height: 110%;
    width: 300px;
    padding-top: 207px;
  }
}

@media screen and (max-width: 380px) {
  .promo__title {
    width: 100%;
    width: 300px;
  }

  .promo {
    padding: 74px 0 0;
    height: 644px;
  }

  .promo__container {
    background-position-y: 142px;
    background-size: 248px;
  }

  .promo__title {
    font-size: 31px;
    line-height: 39px;
    width: 300px;
    padding-top: 207px;
  }
}
