.header {
  background-color: transparent;
  max-width: 1140px;
  height: 74px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  z-index: 5;
  position: relative;
}

.header__logo-container {
  width: 38px;
  padding: 19px;
}

.header__logo {
  height: 38px;
  width: 38px;
}

.header__btn-container {
  width: 184px;
  display: flex;
  padding-top: 21px;
}

.header__btn-container_type_login {
  width: 381px;
}

.header__button {
  padding: 0;
  background-color: transparent;
  width: 77px;
  height: 32px;
  color: white;
  border: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  transition: opacity 0.3s linear;
  cursor: pointer;
}

.header__button_type_movies {
  width: 58px;
}

.header__button_type_saved-movies {
  width: 153px;
  margin-left: 20px;
}

.header__button_type_profile {
  margin-left: 50px;
  width: 100px;
  height: 32px;
  background-color: #313131;
  border-radius: 20px;
}

.header__button:hover,
.header__link:hover,
.header__burger-btn:hover {
  opacity: 0.8;
}

.header__button_type_signin {
  color: black;
  background-color: #3ddc84;
  border: solid 1px black;
  border-radius: 3px;
  margin-left: 30px;
}

.header__link {
  transition: opacity 0.3s linear;
}

.header__burger-btn {
  visibility: hidden;
  background-color: transparent;
  height: 44px;
  width: 44px;
  background: url(../../images/icon__burger_btn.svg) no-repeat center;
  cursor: pointer;
  border: 0;
  transition: opacity 0.3s linear;
  position: absolute;
  top: 15px;
  right: 0px;
}

@media screen and (max-width: 1280px) {
  .header {
    max-width: 708px;
  }

  .header__btn-container_type_login {
    visibility: hidden;
  }

  .header__burger-btn {
    visibility: visible;
  }
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 292px;
  }

  .header__btn-container {
    width: 132px;
    padding: 0;
    margin-top: 24px;
  }

  .header__logo-container {
    margin-top: 18px;
    padding: 0;
  }

  .header__button {
    font-size: 10px;
    line-height: 16px;
    width: 54px;
    height: 26px;
  }
}
