.about-project {
  max-width: 1140px;
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  color: #ffffff;
}

.about-project__title {
  padding: 0;
  margin: 110px 0 23px;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
}

.about-project__line {
  width: 100%;
  border: solid 1px #dadada;
  height: 0;
  margin-bottom: 70px;
}

.about-project__grid-container {
  display: grid;
  margin: 110px 0;
  grid-template-rows: repeat(2, 40px);
  grid-template-columns: 228px 1fr;
}

.about-project__flex-container {
  display: flex;
  flex-wrap: wrap;
}

.about-text-container {
  width: 550px;
}

.about-text-container:not(:last-child) {
  margin-right: 40px;
}

.about-project__text-title {
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
}

.about-project__text-subtitle {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.about-project__timeline {
  display: flex;
  align-items: center;
}

.about-project__timeline_type_timelin1 {
  color: #000000;
  background-color: #3ddc84;
  grid-column: 1/2;
}

.about-project__timeline_type_timelin2 {
  background-color: #303030;
  grid-column: 2/3;
}

.about-project__timeline-subtitle {
  display: flex;
  align-items: center;
  color: #8b8b8b;
}

.about-project__timeline-text {
  margin: 0 auto;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 1280px) {
  .about-project {
    max-width: 668px;
  }

  .about-project__title {
    margin-top: 90px;
  }

  .about-text-container {
    width: 319px;
  }

  .about-text-container:not(:last-child) {
    margin-right: 30px;
  }

  .about-project__grid-container {
    grid-template-columns: 140px 1fr;
    margin: 56px 0 93px;
  }

  .about-project__text-subtitle {
    margin-top: 22px;
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 768px) {
  .about-project {
    width: 284px;
  }

  .about-project__title {
    margin: 70px 0 28px;
    font-size: 18px;
    line-height: 22px;
  }

  .about-project__line {
    margin-bottom: 60px;
  }

  .about-project__text-title {
    font-size: 18px;
    line-height: 22px;
  }

  .about-project__text-subtitle {
    font-size: 11px;
    line-height: 16px;
  }

  .about-project__grid-container {
    grid-template-columns: 100px 1fr;
    margin: 60px 0 70px;
  }

  .about-project__timeline-text {
    font-size: 11px;
    line-height: 13px;
  }
}
