.footer {
  max-width: 1140px;
  margin: 0 auto;
  padding-top: 79px;
  color: #fff;
}

.footer__discription {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #8b8b8b;
}

.footer__line {
  height: 0px;
  border: solid 1px #424242;
}

.footer__links-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 20px;
  padding-bottom: 20px;
}

.footer__copyright {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__links-container {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: end;
}

.footer_list:not(:last-child) {
  margin-right: 20px;
}

.footer__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  transition: opacity 0.3s linear;
}

.footer__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1280px) {
  .footer {
    max-width: 708px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 300px;
  }

  .footer__discription {
    margin-bottom: 21px;
    font-size: 12px;
    line-height: 15px;
  }

  .footer__links-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(12px, 1fr));
    justify-items: center;
    row-gap: 30px;
    padding-bottom: 10px;
  }

  .footer__copyright {
    grid-row: 2/3;
    color: #8b8b8b;
    font-size: 12px;
    line-height: 15px;
  }

  .footer__link {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__links-container {
    flex-direction: column;
    align-items: center;
  }

  .footer_list:not(:last-child) {
    margin: 0;
  }

  .footer_list:not(:first-child) {
    margin-top: 12px;
  }
}
