.navtab {
  width: 100%;
  height: 66px;
  display: flex;
  justify-content: center;
  background-color: #272727;
}

.navtab__container {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.navtab__list:not(:last-child) {
  margin-right: 40px;
}

.navtab__link {
  padding: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-decoration: underline;
  color: #ffffff;
  transition: opacity 0.3s linear;
}

.navtab__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .navtab__container {
    padding: 0;
  }
}

@media screen and (max-width: 350px) {
  .navtab__link {
    font-size: 11px;
    line-height: 16px;
  }

  .navtab__list:not(:last-child) {
    margin-right: 24px;
  }
}